.container {
    margin-top: 22px;
    background: var(--bg);
    border-radius: var(--radius);
    box-shadow: 0 8px 18px rgba(0, 0, 0, .05);
}

.container-head {
    padding: 20px 30px;
    background: white;
    border-radius: var(--radius) var(--radius) 0 0;
}

.container-content {
    padding: 25px;
}

.crumb-inline {
    color: var(--muted);
    font-size: 1.1rem;
    font-weight: 500;
}

.crumb-item {
    display: inline-block;
    margin-right: 8px;
}
