body {
    background: linear-gradient(to bottom, #ead7d6, #eddddd 400px);
}

.landing .view-container {
    max-width: 1200px;
    margin: 0 auto 64px;
    padding: 0;
}

.cards-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

@media (max-width: 820px) {
    .cards-2 {
        grid-template-columns: 1fr;
    }
}

.career-card {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    background: #fff;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.06);

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.career-card:hover {
    cursor: pointer;
    transform: translateY(-7px) scale(1.02);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15),
    0 4px 6px rgba(0, 0, 0, 0.25);
}

.career-card .thumb {
    aspect-ratio: 16/9;
    min-height: 180px;
    border-radius: 16px;
    margin-bottom: 30px;
}

.career-card h3 {
    margin: 8px 0 6px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--ub-red);
    text-transform: uppercase;
}

.career-card .years {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--muted);
    margin-bottom: 6px;
}

.career-card p {
    margin: 0 0 12px;
    color: var(--muted);
    font-size: 0.9rem;
}

.career-card .btn {
    display: inline-block;
    background: var(--ub-red);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    padding: 8px 12px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, .06);
}

.career-card .btn:hover {
    filter: brightness(1.05);
}
