.cards-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

@media (max-width: 820px) {
    .cards-2 {
        grid-template-columns: 1fr;
    }
}

.hero-logo {
    max-width: 250px;
    margin: -30px auto;
    display: block;
}

.hero-title {
    margin: 6px 0 4px;
    font-size: 2.5rem;
    line-height: 1.2;
    color: var(--text);
}

@media (max-width: 767px) {
  .hero-logo {
    max-width: 100px;
    height: auto;
    margin: -10px auto 0;
    max-height: 120px;
    max-width: 120px;

  }
}
  .hero-title {
    font-size: 1rem;          
    line-height: 1.2;
    margin: 4px 0;
    text-align: center;
  }

  .hero-card {
    padding-top: 22px !important;
  }
