.sidebar {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, .05);
    padding: 20px;
    margin-left: 24px;
    min-width: 240px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: fit-content;
}

.block {
    margin-bottom: 8px;
}

.title {
    color: var(--ub-red, #861c24);
    font-size: 1.25rem;
    font-weight: 800;
    padding: 6px 0 8px 0;
}

.email {
    font-size: 0.97rem;
    color: #444;
    word-break: break-all;
    margin-bottom: 1rem;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    font-family: inherit;
    background: var(--bg);
    color: var(--ring);
    border: none;
    text-align: start;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background .15s, color .15s, border .15s;
}

.button:hover {
    background: var(--bg-darker);
}
